<div class="col m-4 " style="height: 90%;">
  <div style="height: 95%;">
    <div class="row">
      <div class="row border-bottom mb-4">
        <p class="text-white text-align-center my-2">ArleiTech</p>
      </div>
      <div class="row">
        <button class="btn btn-outline-light my-2 border-0" (click)="products()">
          <i class="bi bi-box-seam"></i>
          produtos
        </button>
      </div>
      <div class="row">
        <button class="btn btn-outline-light my-2 border-0" (click)="clients()">
          <i class="bi bi-person-lines-fill"></i>
          clientes
        </button>
      </div>
      <div class="row">
        <button class="btn btn-outline-light my-2 border-0" (click)="sales()">
          <i class="bi bi-inboxes"></i>
          pedidos
        </button>
      </div>
    </div>
  </div>
  <footer class="row text-white ">
    <i class="col bi bi-linkedin"></i>
    <i class="col bi bi-facebook"></i>
    <i class="col bi bi-github"></i>
  </footer>
</div>
